* {
    margin: 0;
    padding: 0;
}

.panel{
    width: 70%;
    border: 1px solid #B9B9B9;
    margin: 50px auto;
}

.container{
    margin: 30px;
}

h4{
    margin-top: 30px;
}

label, input{
    margin-top: 20px;
}

.btn{
    height: 25px;
    width: 150px;
    margin: 20px 30px;
    cursor: pointer;
}